
#BLOCK {


	width: 400px;
	height: 300px;
  text-align: justify;
	text-indent: 30px;
  font-style: italic;
	background-size: cover
  

}

div.ArticleComments{
	float:left;
}

div.ArticleLikes {
	float:left;
}
.flip-animation {



 }
